.loader2 {
          width: 175px;
          height: 80px;
          display: block;
          margin: auto;
          background-image: radial-gradient(circle 25px at 25px 25px, #37347e 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #37347e 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #37347e 100%, transparent 0), linear-gradient(#37347e 50px, transparent 0);
          background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
          background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
          background-repeat: no-repeat;
          position: relative;
          box-sizing: border-box;
          animation: shift 1.5s cubic-bezier(0.2, 0, 0.2, 0.3) reverse both infinite;

}

.loader2::before {
          content: '';
          left: 60px;
          bottom: 18px;
          position: absolute;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-repeat: no-repeat;
          box-sizing: border-box;
          animation: shift 1.5s cubic-bezier(0.2, 0, 0.2, 0.3) reverse both infinite;
}

.loader2::after {
          content: '';
          left: 94px;
          bottom: 15px;
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;

          background-repeat: no-repeat;
          box-sizing: border-box;
          animation: shift 1.5s cubic-bezier(0.2, 0, 0.2, 0.3) reverse both infinite;
}


/* Glitch */

.glitch {
          position: relative;
          font-size: 40px;
          font-weight: 700;
          line-height: 1.2;
          color: #fff;
          letter-spacing: 5px;
          z-index: 1;
          animation: shift 0.7s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
          display: block;
          content: attr(data-glitch);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.8;
}

.glitch:before {
          animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
          color: black;
          z-index: -1;
}

.glitch:after {
          animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
          color: rgb(121, 82, 152);
          z-index: -2;
}

@keyframes glitch {
          0% {
                    transform: translate(0);
          }

          20% {
                    transform: translate(-3px, 3px);
          }

          40% {
                    transform: translate(-3px, -3px);
          }

          60% {
                    transform: translate(3px, 3px);
          }

          80% {
                    transform: translate(3px, -3px);
          }

          to {
                    transform: translate(0);
          }
}

@keyframes shift {

          0%,
          40%,
          44%,
          58%,
          61%,
          65%,
          69%,
          73%,
          100% {
                    transform: skewX(0deg);
          }

          41% {
                    transform: skewX(10deg);
          }

          42% {
                    transform: skewX(-10deg);
          }

          59% {
                    transform: skewX(40deg) skewY(10deg);
          }

          60% {
                    transform: skewX(-40deg) skewY(-10deg);
          }

          63% {
                    transform: skewX(10deg) skewY(-5deg);
          }

          70% {
                    transform: skewX(-50deg) skewY(-20deg);
          }

          71% {
                    transform: skewX(10deg) skewY(-10deg);
          }
}

/* points loading animation  */


.loader__balls {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 15px;
}

.loader__balls__group {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          height: 100px;
          width: 40px;
}

.ball {
          height: 30px;
          width: 30px;
          border-radius: 15px;
          position: absolute;
          transform-origin: bottom;
}

/* ANIMATION BALL 1*/
.loader__balls__group :nth-child(1) {
          background-color: #5854ca;
          animation-name: jumpinBallAnimation1;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation1 {
          0% {
                    transform: translateY(0) scale(1, 1);
          }

          10% {
                    transform: translateY(0) scale(1.3, 0.8);
          }

          11% {
                    transform: translateY(0) scale(0.7, 1.2);
                    animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
          }

          39% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
          }

          40% {
                    transform: translateY(-75px) scale(1);
          }

          41% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 0);
          }

          69% {
                    transform: translateY(0px) scale(1, 1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 0);
          }

          70% {
                    transform: translateY(0) scale(1.5, 0.4);
          }

          80% {
                    transform: translateY(0) scale(0.8, 1.2);
          }

          90% {
                    transform: translateY(0) scale(1.1, 0.8);
          }

          100% {
                    transform: translateY(0) scale(1, 1);
          }
}

/* ANIMATION BALL 2*/
.loader__balls__group :nth-child(2) {
          background-color: #34327b;
          animation-name: jumpinBallAnimation2;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation2 {
          0% {
                    transform: translateY(0) scale(1, 1);
          }

          10% {
                    transform: translateY(0) scale(1.3, 0.8);
          }

          11% {
                    transform: translateY(0) scale(0.7, 1.2);
                    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
          }

          39% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
          }

          40% {
                    transform: translateY(-75px) scale(1);
          }

          41% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
          }

          69% {
                    transform: translateY(0px) scale(1, 1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 0.5);
          }

          70% {
                    transform: translateY(0) scale(1.5, 0.4);
          }

          80% {
                    transform: translateY(0) scale(0.8, 1.2);
          }

          90% {
                    transform: translateY(0) scale(1.1, 0.8);
          }

          100% {
                    transform: translateY(0) scale(1, 1);
          }
}

/* ANIMATION BALL 3*/
.loader__balls__group :nth-child(3) {
          background-color: #282660;
          animation-name: jumpinBallAnimation3;
          animation-duration: 1000ms;
          animation-iteration-count: infinite;
}

@keyframes jumpinBallAnimation3 {
          0% {
                    transform: translateY(0) scale(1, 1);
          }

          10% {
                    transform: translateY(0) scale(1.3, 0.8);
          }

          11% {
                    transform: translateY(0) scale(0.7, 1.2);
                    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
          }

          39% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(0, 1, 0.5, 1);
          }

          40% {
                    transform: translateY(-75px) scale(1);
          }

          41% {
                    transform: translateY(-75px) scale(1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 1);
          }

          69% {
                    transform: translateY(0px) scale(1, 1);
                    animation-timing-function: cubic-bezier(1, 0, 1, 1);
          }

          70% {
                    transform: translateY(0) scale(1.5, 0.4);
          }

          80% {
                    transform: translateY(0) scale(0.8, 1.2);
          }

          90% {
                    transform: translateY(0) scale(1.1, 0.8);
          }

          100% {
                    transform: translateY(0) scale(1, 1);
          }
}

.loader__balls__group .item1 {
          animation-delay: 0ms;
}

.loader__balls__group .item2 {
          animation-delay: 100ms;
}

.loader__balls__group .item3 {
          animation-delay: 200ms;
}